:root {
    --body-color: #eff0f7;
    --sidebar-color: #ffffff;
    --primary-color: #130c90;
    --primary-color-light: rgba(18, 13, 144, 0.04);
    --toggle-color: var(--primary-color);
    --toggle-color-hover: var(--primary-color-light);
    --text-color: rgba(0, 0, 0, 0.74);
    --border-color: #898989;
}

body {
    position: relative;
}

.alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 20px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.5;
    z-index: 999;
    width: 95%;
}

/* Success Alert */
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/* Danger Alert */
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* Other styles... */
.head {
    text-align: center;
    display: grid;
}

.title {
    font-size: 25px;
    font-weight: 400;
    font-family: 'Marcellus', serif;
    color: black;
}

.subtitle {
    font-size: 15px;
    color: var(--text-color);
    margin: 0px !important;
    font-family: 'Marcellus', serif;
}

.btn-log-in {
    background-color: #4C3D3D;
    height: 50px;
    color: var(--sidebar-color);
    font-weight: 500;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    font-family: 'Marcellus', serif;
}

.auth-background-col {
    background-image: url('/images/login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

label {
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 10px;
    font-family: 'Marcellus', serif;
}

input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid var(--border-color);
    font-family: 'Marcellus', serif;

}

input::placeholder {
font-size: 12px;
}


.sign-up-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0px;
    font-family: 'Marcellus', serif;
}

.sign-up-link a {
    color: #C07F00;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Marcellus', serif;
}

.password-wrapper {
    position: relative;
}

.password-wrapper input {
    padding-right: 30px;
}

.password-wrapper .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
.trouble {
    text-align: right;
}

.trouble a {
    font-size: 12px;
    color: #C07F00;
}



@media (max-width: 768px) {
    .auth-background-col {
        display: none;
    }

    .auth-main-col {
        width: 100%;
        padding: 20px;
    }

    .head {
        padding-left: 0;
        padding-right: 0;
    }

    .form-group,
    .form-group input {
        width: 100%;
    }

    .sign-up-link {
        margin-top: 10px;
    }
}
